<div class="row">
    <div class="col-md-4">
        <div class="row">
            <select class="form-select" id="selectedChatRoom" name="selectedChatRoom" [(ngModel)]="selectedChatRoom">
                <option *ngFor="let chatRoom of chatRooms; let i = index" [ngValue]="chatRoom">{{ chatRoom.friendlyName }}</option>
            </select>
            <img class="img" src="/assets/rick_morty_PNG25.png" />
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="input-group">
                <input type="text" class="form-control" (keyup.enter)="sendMessage()" placeholder="Type your message here..."
                    [ngModelOptions]="{standalone: true}" [(ngModel)]="message">
                <button class="btn btn-primary" type="button" (keyup.enter)="sendMessage()" (click)="sendMessage()">Send</button>
            </div>
        </div>
        
        <div class="row">
            <div>&nbsp;</div>
            <div class="col-md-12">
                <span *ngFor="let text of texts; let i = index">
                    <div *ngIf="i % 2 == 0" style="text-align: right;">
                        <span>{{text}}</span>
                    </div>
                    <div *ngIf="i % 2 == 1" style="text-align: left;">
                        <span>{{text}}</span>
                    </div>
                </span>
                <app-loader *ngIf="isLoading"></app-loader>
            </div>
        </div>
    </div>
</div>