<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app">
                <div id="plist" class="people-list">
                    <ul class="list-unstyled chat-list mt-2 mb-0">
                        <li class="clearfix">
                            <!--<img src="/assets/avatars/{{character.image}}" alt="avatar">-->
                            <div class="about">
                                <div class="name">Welcome back <strong>{{user.FirstName}}</strong></div>
                                <!--<div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>-->
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="chat">
                    <div class="chat-header clearfix">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                    <img src="/assets/avatars/{{character.image}}" alt="avatar">
                                </a>
                                <div class="chat-about">
                                    <h6 class="m-b-0" style="padding-top: 10px !important;">You are in a chat room with {{character.name}}</h6>
                                    <!--<small>Last seen: 2 hours ago</small>-->
                                </div>
                            </div>
                            <div class="col-lg-6 text-right" style="padding-top: 10px !important;">
                                <a class="link m-b-0" (click)="logOut()" href="javascript:void(0)"
                                    [ngClass]="isLoggingOut ? 'disabled' : ''">
                                    <span *ngIf="!isLoggingOut">
                                        Log out
                                    </span>
                                    <span *ngIf="isLoggingOut">
                                        Logging out
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="chatWindow" class="chat-history" style="overflow-y: scroll !important; height:500px !important;">
                        <ul class="m-b-0">
                            <li class="clearfix" *ngFor="let message of conversation.messages; let i = index;">
                                <div class="message-data" [ngClass]="message.entity.type == 'Person' ? 'text-right' : ''">
                                    <span class="message-data-name">{{message.entity.name}}</span>
                                </div>
                                <div class="message" 
                                    [ngClass]="message.entity.type == 'Person' ? 'person-message float-right' : 'character-message'">
                                    {{message.text}}
                                </div>
                            </li>
                            <li class="clearfix" *ngIf="isTyping">
                                <div class="message">
                                    <app-loader></app-loader>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="chat-message clearfix">
                        <div class="input-group">
                            <input type="text" class="form-control" (keyup.enter)="sendTextMessage()" placeholder="Type your message here..."
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="textMessage" [disabled]="isTyping || isLoggingOut">
                            <button class="btn btn-primary main-button" style="width: 20%;" type="button" [disabled]="isTyping || isLoggingOut"
                                (keyup.enter)="sendTextMessage()" (click)="sendTextMessage()">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>